/* 表格样式 */

table {
  padding: 0;
  word-break: initial;
  border: 2px solid var(--table-border-color);
}
table tr {
  border: 2px solid var(--table-tr-border-color);
  margin: 0;
  padding: 0;
}
table tr:nth-child(2n),
thead {
  background-color: var(--table-bg-color);
}
table th {
  font-weight: bold;
  border: 2px solid var(--table-th-border-color);
  border-bottom: 0;
  margin: 0;
  padding: 6px 13px;
}
table td {
  border: 2px solid var(--table-td-border-color);
  margin: 0;
  padding: 6px 13px;
}
table th:first-child,
table td:first-child {
  margin-top: 0;
}
table th:last-child,
table td:last-child {
  margin-bottom: 0;
}
